$halfwhite: rgba(255, 255, 255, 0.5);
$quarterwhite: rgba(255, 255, 255, 0.25);
$darkblue:linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
$halfblack:rgba(0, 0, 0, 0.5);
$yellow:#F0C149;
$green:#286F6C;
$orange:#F26440;

.bg-image {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-image2 {
    background-image: url(/img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-yellow {
    background: $yellow;
}

.bg-green {
    background: $green;
}

.bg-orange {
    background: $orange;
}

.bg-darkblue {
    background: $darkblue;
}

.bg-halfblack {
    background: $halfblack;
}

.black {
    color: black;
}

.white {
    color: white;
}

.halfwhite {
    color: $halfwhite;
}

.halfblack {
    color: $halfblack;
}

.quarterwhite {
    color: $quarterwhite;
}


@media screen and(max-width:1024px) {}

@media screen and(max-width:414px) {}